invoice: 'Faktura - daňový doklad'
number: 'č. %id%'
seller: 'Dodavatel'
buyer: 'Odběratel'
ico: 'IČO'
dic: 'DIČ'
nonPayer: 'neplátce DPH'
sellerRegNote: 'Podnikatel zapsán v živ.rejstříku MÚ Světlá nad Sázavou'
phone: 'Telefon'
mail: 'E-mail'
payment: 'Platební podmínky'
paymentMethod: 'Forma úhrady'
bankAccount: 'bank account'
accountNo: 'Číslo účtu'
iban: 'IBAN'
swift: 'SWIFT'
variableSymbol: 'Variabilní symbol'
invoiceDate: 'Datum vystavení'
dueDate: 'Datum zdanitelného plnění'
supplyDate: 'Datum splatnosti'
rate: 'Kurz'
invoiceProduct: 'Fakturujeme vám'
price: 'Cena'
priceWithoutVat: 'Cena bez DPH'
priceWithVat: 'Cena s DPH'
vat: 'DPH'
reverseChargeModeNote: 'Faktura je v režimu přenesené daňové povinnosti. Daň odvede zákazník.'
totalWithoutVat: 'Základ pro DPH'
vatRate: 'Sazba DPH'
totalPrice: 'Celkem'
totalPriceVat: 'Celkem s DPH'
issuedBy: 'Issued by'
signature: 'Signature'