invoice: 'Invoice'
number: 'No. %id%'
seller: 'Seller'
buyer: 'Buyer'
ico: 'ID no.'
dic: 'VAT reg.'
nonPayer: 'not payer of VAT'
sellerRegNote: 'Podnikatel zapsán v živ.rejstříku MÚ Světlá nad Sázavou'
phone: 'Phone'
mail: 'E-mail'
payment: 'Payment'
paymentMethod: 'Payment method'
bankAccount: 'bank account'
accountNo: 'Account No.'
iban: 'IBAN'
swift: 'SWIFT'
variableSymbol: 'Variable symbol'
invoiceDate: 'Invoice Date'
dueDate: 'Payment due Date'
supplyDate: 'Supply Date'
rate: 'Rate'
invoiceProduct: 'Invoice product'
price: 'Price'
priceWithoutVat: 'Price without VAT'
priceWithVat: 'Price with VAT'
vat: 'VAT'
reverseChargeModeNote: 'Invoice in Reverse charge mode. The buyer is obligated to fill in the VAT amounts and pay the tax.'
totalWithoutVat: 'Total amount excl. VAT'
vatRate: 'VAT Rate'
totalPrice: 'Total amount to pay'
totalPriceVat: 'Total amount to pay'
issuedBy: 'Issued by'
signature: 'Signature'